.wrapper{
    background: #ffcc99;
}

h1{
    text-align: center;
    background: grey;
}

ul{
    text-align: center;
}

li{
    display:inline-block;
}
.game{
    width:350px;
    background: black;
}

.block{
    display:inline-block;
    background: grey;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}